
[email]
host = "smtp.gmail.com"
port = "587"
username = "irfandarvan07@gmail.com"
password = "cnzo nzdo gzzl cprl"
email_conf = st.secrets["irfandarvan07@gmail.com"]
username = email_conf["irfan"]
password = email_conf["cnzo nzdo gzzl cprl"]


[sendgrid]email_conf = st.secrets["email"]
username = email_conf["username"]
password = email_conf["password"]

api_key = "SG.xxxxx"
from_email = "alerts@example.com"

[supabase]
url = "https://xyz.supabase.co"
key = "public-anon-key-or-service-role-key"
